spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/jaunenoir_dev
    username: niangamadou888
    password:
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    com.jaunenoir: DEBUG
    org.springframework.security: DEBUG
